name: Build Project
on:
  push:
env:
  project: godot-keylogger
  
jobs:
  build:
    name: Builds extensions for ${{ matrix.platform }}
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        # Use bash shells on all platforms.
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: windows-latest
            platform: windows
            target: x86_64-pc-windows-gnu
            ext: dll
            output: godot_keylogger
          - runner: ubuntu-latest
            platform: linux
            target: x86_64-unknown-linux-gnu
            output: libgodot_keylogger
            ext: so
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.11.0
      - name: Fetch Linux dependencies
        if: matrix.platform == 'linux'
        run: |
          sudo apt update
          sudo apt install -y libudev-dev libinput-dev
      - name: Build extension
        working-directory: ./rust
        run: |
          mkdir ../bin
          cargo build --target ${{matrix.target}}
          cargo build --release --target ${{matrix.target}}
          mv target/${{matrix.target}}/debug/${{matrix.output}}.${{matrix.ext}} ../bin/libgodot_keylogger.debug.${{matrix.ext}}
          mv target/${{matrix.target}}/release/${{matrix.output}}.${{matrix.ext}} ../bin/libgodot_keylogger.release.${{matrix.ext}}
      - name: Save artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.project }}.${{ matrix.platform }}
          path: bin/*

  release:
    name: Package Addon
    runs-on: ubuntu-latest
    needs: [build]
    defaults:
      run:
        # Use bash shells on all platforms.
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts
      - name: Prepare package
        run: |
          mkdir -p pkg/addons/keylogger/lib
          cp -r godot/addons/keylogger pkg/addons
          find artifacts/ -type f -print0 | xargs -0 cp -t "pkg/addons/keylogger/lib"
          cp LICENSE.md README.md "pkg/addons/keylogger"
      - name: Generate Release
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.project }}
          path: pkg
